body{
  background-color: rgb(122, 122, 253);
}

@font-face {
  font-family: pokemonFont;
  src: url(Pokemon\ Hollow.ttf);
}

h1{
  font-family: pokemonFont, sans-serif;
  text-align: center;
  padding-top: 100px;
  font-size: 70px;
}

.input{
  text-align: center;
}

input{
  border-radius: 57px;
  border-style: none;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 15px;
}

input::placeholder {
  font-weight: bold;
  opacity: 0.5;
  color: rgb(154, 142, 142);
  font-size: 17px;
}
